Document_auditor_MASTER_WIP_V2.json
{"updatedAt":"2026-05-29T16:19:16.157Z","createdAt":"2026-05-29T15:08:18.058Z","id":"XBkjGlpuakj2hdf6","name":"Document auditor_MASTER_WIP_V2","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"content":"## Sub-workflow- Extract Bill of Lading Data\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/components/sticky-notes/)","height":288,"width":1680,"color":3},"type":"n8n-nodes-base.stickyNote","position":[2576,-464],"typeVersion":1,"id":"081367e5-6d50-4964-8f4c-2a374f9577a5","name":"Sticky Note"},{"parameters":{"content":"## Sub-workflow- Extract Packing List Data\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/components/sticky-notes/)","height":480,"width":800,"color":6},"type":"n8n-nodes-base.stickyNote","position":[3456,-80],"typeVersion":1,"id":"8c7d45dc-3912-4030-8713-bb7359036a7c","name":"Sticky Note1"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1792,-96],"id":"241adf4d-dd74-44af-b890-2a4d41a5740f","name":"TRIGGER_Manual"},{"parameters":{"jsCode":"const results = {};\n\nfor (const item of items) {\n  const doc = item.json;\n  const matchId = doc.Match_ID;\n  const name = (doc.Document_name || \"\").toUpperCase();\n\n  if (!results[matchId]) {\n    results[matchId] = {\n      Match_ID:        matchId,\n      \"Booking#\":      doc[\"Booking#\"]      || \"N/A\",\n      \"Booking type\":  doc[\"Booking type\"]  || \"N/A\",\n      \"Folder name\":   doc[\"Folder name\"]   || \"N/A\",\n      Parent_ID:       doc.Parent_ID        || null,\n      Child_ID:        doc.Child_ID         || matchId,\n      Document_ID:     null,\n      Document_name:   \"No BL available\",\n      \"BL_available?\": \"no\",\n      priority: 0\n    };\n  }\n\n  let currentPriority = 0;\n\n  if (name.includes(\"TR\")) {\n    currentPriority = 4;\n  } else if (name.includes(\"HBL\")) {\n    currentPriority = 3;\n  } else if (name.includes(\"BL\") && !name.includes(\"DRAFT\")) {\n    currentPriority = 2;\n  } else if (name.includes(\"DRAFT\")) {\n    currentPriority = 1;\n  }\n\n  if (currentPriority > results[matchId].priority) {\n    results[matchId].Document_ID    = doc.Document_ID;\n    results[matchId].Document_name  = doc.Document_name;\n    results[matchId].priority       = currentPriority;\n    results[matchId][\"BL_available?\"] = \"yes\";\n  }\n}\n\nreturn Object.values(results).map(res => {\n  const { priority, ...cleanResult } = res;\n  return { json: cleanResult };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2624,-352],"id":"7c465383-0c5c-467e-b3b8-b559de7e5af5","name":"FILTER_Select_Best_BL"},{"parameters":{"jsCode":"const results = {};\n\nfor (const item of items) {\n  const doc = item.json;\n  const matchId = doc.Match_ID;\n  const name = (doc.Document_name || \"\").toUpperCase();\n\n  if (!results[matchId]) {\n    results[matchId] = {\n      Match_ID:        matchId,\n      \"Booking#\":      doc[\"Booking#\"]      || \"N/A\",\n      \"Booking type\":  doc[\"Booking type\"]  || \"N/A\",\n      \"Folder name\":   doc[\"Folder name\"]   || \"N/A\",\n      Parent_ID:       doc.Parent_ID        || null,\n      Child_ID:        doc.Child_ID         || matchId,\n      Document_ID:     null,\n      Document_name:   \"No PL available\",\n      \"PL_available?\": \"no\",\n      priority: 0\n    };\n  }\n\n  let currentPriority = 0;\n\n  if (name.includes(\"PL\") && !name.includes(\"DRAFT\") && !name.includes(\"CI\")) {\n    currentPriority = 3;\n  } else if (name.includes(\"PL\") && !name.includes(\"DRAFT\") && name.includes(\"CI\")) {\n    currentPriority = 2;\n  } else if (name.includes(\"PL\") && name.includes(\"DRAFT\")) {\n    currentPriority = 1;\n  }\n\n  if (currentPriority > results[matchId].priority) {\n    results[matchId].Document_ID    = doc.Document_ID;\n    results[matchId].Document_name  = doc.Document_name;\n    results[matchId].priority       = currentPriority;\n    results[matchId][\"PL_available?\"] = \"yes\";\n  }\n}\n\nreturn Object.values(results).map(res => {\n  const { priority, ...cleanResult } = res;\n  return { json: cleanResult };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2672,0],"id":"05cddba6-ef18-43eb-955a-45a65c53cefe","name":"FILTER_Select_Best_PL"},{"parameters":{"mode":"combine","fieldsToMatchString":"Match_ID","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[4864,-160],"id":"329b1761-83f1-4088-a7a8-28f4707a5e40","name":"MERGE_BL_and_PL"},{"parameters":{"jsCode":"const getVal = (obj, path, fallback = 0) => {\n  return path.split('.').reduce((acc, part) => acc && acc[part], obj) ?? fallback;\n};\n\nconst workflowStart = new Date($('Start_Time').first().json.Workflow_Start);\nconst runtime = ((new Date() - workflowStart) / 1000).toFixed(1);\n\nconst STOP_WORDS = new Set(['the','and','of','for','a','an','in','to','with','by','at','from','on','is','are','as']);\n\nconst getKeywords = (str) => {\n  return str\n    .toLowerCase()\n    .replace(/[^a-z0-9\\s]/g, '')\n    .split(/\\s+/)\n    .filter(w => w.length > 1 && !STOP_WORDS.has(w));\n};\n\nconst descriptionOverlap = (blDesc, plDesc) => {\n  if (!blDesc || !plDesc || blDesc === 'N/A' || plDesc === 'N/A' ||\n      blDesc === 'NOT_FOUND' || plDesc === 'NOT_FOUND') {\n    return { status: '⚠️ UNAVAILABLE', detail: 'Description missing on BL or PL' };\n  }\n  const blWords = getKeywords(blDesc);\n  const plWords = new Set(getKeywords(plDesc));\n  if (blWords.length === 0) {\n    return { status: '⚠️ UNAVAILABLE', detail: 'BL description could not be parsed' };\n  }\n  const matched = blWords.filter(w => plWords.has(w)).length;\n  const overlap = matched / blWords.length;\n  if (overlap >= 0.6) {\n    return { status: '✅ MATCH', detail: `${Math.round(overlap * 100)}% keyword overlap` };\n  } else {\n    return { status: '❌ DISCREPANCY', detail: `${Math.round(overlap * 100)}% keyword overlap (below 60% threshold)` };\n  }\n};\n\nreturn $input.all().map(({ json: input }) => {\n\n  const bl = {\n    factory:  input.BL_factory || {},\n    metrics:  input.BL_logistics_metrics || {},\n    product:  input.BL_cargo_description || \"N/A\",\n  };\n\n  const pl = {\n    factory:  input.PL_factory || {},\n    metrics:  input.PL_logistics_metrics || {},\n    product:  input.PL_cargo_description || \"N/A\"\n  };\n\n  // ── Check 1: Weight & Volume ───────────────────────────────\n  const blWeight = getVal(bl, 'metrics.gross_weight_kg');\n  const plWeight = getVal(pl, 'metrics.gross_weight_kg');\n  const blVolume = getVal(bl, 'metrics.volume_cbm');\n  const plVolume = getVal(pl, 'metrics.volume_cbm');\n\n  const weightDiff = Math.abs(plWeight - blWeight).toFixed(2);\n  const volDiff    = Math.abs(plVolume - blVolume).toFixed(3);\n\n  let weightStatus, volumeStatus;\n\n  if (blWeight === 0 && plWeight === 0) {\n    weightStatus = '⚠️ UNAVAILABLE (missing on both BL and PL)';\n  } else if (blWeight === 0) {\n    weightStatus = '⚠️ UNAVAILABLE (missing on BL)';\n  } else if (plWeight === 0) {\n    weightStatus = '⚠️ UNAVAILABLE (missing on PL)';\n  } else if (parseFloat(weightDiff) > 1.0) {\n    weightStatus = `❌ DISCREPANCY (${weightDiff}kg variance)`;\n  } else {\n    weightStatus = '✅ MATCH';\n  }\n\n  if (blVolume === 0 && plVolume === 0) {\n    volumeStatus = '⚠️ UNAVAILABLE (missing on both BL and PL)';\n  } else if (blVolume === 0) {\n    volumeStatus = '⚠️ UNAVAILABLE (missing on BL)';\n  } else if (plVolume === 0) {\n    volumeStatus = '⚠️ UNAVAILABLE (missing on PL)';\n  } else if (parseFloat(volDiff) > 0.1) {\n    volumeStatus = `❌ DISCREPANCY (${volDiff}cbm variance)`;\n  } else {\n    volumeStatus = '✅ MATCH';\n  }\n\n  // ── Check 2: Packaging quantity ────────────────────────────\n  const blPallets = getVal(bl, 'metrics.pallet_count');\n  const plPallets = getVal(pl, 'metrics.pallet_count');\n  const blCartons = getVal(bl, 'metrics.carton_count');\n  const plCartons = getVal(pl, 'metrics.carton_count');\n  const blPieces  = getVal(bl, 'metrics.piece_count');\n  const plPieces  = getVal(pl, 'metrics.piece_count');\n\n  const packagingErrors = [];\n  const packagingWarnings = [];\n\n  // Pallets\n  if (blPallets === 0 && plPallets === 0) {\n    packagingWarnings.push('Pallets: missing on both');\n  } else if (blPallets === 0) {\n    packagingWarnings.push('Pallets: missing on BL');\n  } else if (plPallets === 0) {\n    packagingWarnings.push('Pallets: missing on PL');\n  } else if (blPallets !== plPallets) {\n    packagingErrors.push(`Pallet Mismatch (PL: ${plPallets} vs BL: ${blPallets})`);\n  }\n\n  // Cartons\n  if (blCartons === 0 && plCartons === 0) {\n    packagingWarnings.push('Cartons: missing on both');\n  } else if (blCartons === 0) {\n    packagingWarnings.push('Cartons: missing on BL');\n  } else if (plCartons === 0) {\n    packagingWarnings.push('Cartons: missing on PL');\n  } else if (blCartons !== plCartons) {\n    packagingErrors.push(`Carton Mismatch (PL: ${plCartons} vs BL: ${blCartons})`);\n  }\n\n  // Pieces\n  if (blPieces === 0 && plPieces === 0) {\n    packagingWarnings.push('Pieces: missing on both');\n  } else if (blPieces === 0) {\n    packagingWarnings.push('Pieces: missing on BL');\n  } else if (plPieces === 0) {\n    packagingWarnings.push('Pieces: missing on PL');\n  } else if (blPieces !== plPieces) {\n    packagingErrors.push(`Piece Mismatch (PL: ${plPieces} vs BL: ${blPieces})`);\n  }\n\n  let packagingStatus;\n  if (packagingErrors.length > 0) {\n    packagingStatus = `❌ DISCREPANCY (${packagingErrors.join(' | ')})`;\n    if (packagingWarnings.length > 0) {\n      packagingStatus += ` | ⚠️ UNAVAILABLE: ${packagingWarnings.join(', ')}`;\n    }\n  } else if (packagingWarnings.length > 0) {\n    packagingStatus = `⚠️ UNAVAILABLE (${packagingWarnings.join(', ')})`;\n  } else {\n    packagingStatus = '✅ MATCH';\n  }\n\n  // ── Check 3: Description ───────────────────────────────────\n  const descResult = descriptionOverlap(bl.product, pl.product);\n  const descStatus = `${descResult.status} (${descResult.detail})`;\n\n  // ── Overall status ─────────────────────────────────────────\n  const hasDiscrepancy = [weightStatus, volumeStatus, packagingStatus, descStatus]\n    .some(s => s.startsWith('❌'));\n  const hasUnavailable = [weightStatus, volumeStatus, packagingStatus, descStatus]\n    .some(s => s.startsWith('⚠️'));\n\n  const overallStatus = hasDiscrepancy\n    ? '❌ DISCREPANCY'\n    : hasUnavailable\n      ? '⚠️ PARTIAL'\n      : '✅ MATCH';\n\n  return {\n    json: {\n      // ── Shipment identity ──────────────────────\n      Parent_ID:        input.Parent_ID       || \"N/A\",\n      Match_ID:         input.Match_ID        || \"N/A\",\n      \"Booking#\":       input[\"Booking#\"]     || \"N/A\",\n      \"Booking type\":   input[\"Booking type\"] || \"N/A\",\n      \"Folder name\":    input[\"Folder name\"]  || \"N/A\",\n\n      // ── Audit result ───────────────────────────\n      Overall_Status:       overallStatus,\n      Check1_Weight:        weightStatus,\n      Check1_Volume:        volumeStatus,\n      Check2_Packaging:     packagingStatus,\n      Check3_Description:   descStatus,\n      Audit_Date:           new Date().toISOString().split('T')[0],\n      Audit_Timestamp:      new Date().toISOString(),\n      Runtime_Seconds:      runtime,\n\n      // ── Supplier comparison ────────────────────\n      BL_Supplier:      bl.factory.name || \"NOT_FOUND\",\n      PL_Supplier:      pl.factory.name || \"NOT_FOUND\",\n\n      // ── Logistics comparison ───────────────────\n      BL_Pallets:       blPallets,\n      PL_Pallets:       plPallets,\n      BL_Cartons:       blCartons,\n      PL_Cartons:       plCartons,\n      BL_Pieces:        blPieces,\n      PL_Pieces:        plPieces,\n      BL_Weight:        blWeight,\n      PL_Weight:        plWeight,\n      BL_Volume:        blVolume,\n      PL_Volume:        plVolume,\n      BL_Product:       bl.product,\n      PL_Product:       pl.product,\n\n      // ── Variances ──────────────────────────────\n      Weight_Variance:  weightDiff,\n      Volume_Variance:  volDiff,\n\n      // ── AI metadata ────────────────────────────\n      BL_Tokens_Used:   input.BL_tokens_used || 0,\n      PL_Tokens_Used:   input.PL_tokens_used || 0,\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[5232,-160],"id":"9c3992a4-056c-4806-8b86-639f474fdec3","name":"AUDIT_Compare_BL_vs_PL"},{"parameters":{"assignments":{"assignments":[{"id":"176937ef-a113-4cd7-842d-c9ef50ff654b","name":"Workflow_Start","value":"={{ new Date().toISOString() }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1328,-96],"id":"63467b99-bbff-4d04-8ab4-b4cf9e2ba3d0","name":"Start_Time"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1hVd2XLIccS2vipgXaLUTPSf2xnIYLx1B6LiS7JgAaPw/edit?gid=68617204#gid=68617204","mode":"url"},"sheetName":{"__rl":true,"value":68617204,"mode":"list","cachedResultName":"Audit_results","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1hVd2XLIccS2vipgXaLUTPSf2xnIYLx1B6LiS7JgAaPw/edit#gid=68617204"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":[],"schema":[{"id":"Parent_ID","displayName":"Parent_ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Match_ID","displayName":"Match_ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Booking#","displayName":"Booking#","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Booking type","displayName":"Booking type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Folder name","displayName":"Folder name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Overall_Status","displayName":"Overall_Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Check1_Weight","displayName":"Check1_Weight","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Check1_Volume","displayName":"Check1_Volume","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Check2_Packaging","displayName":"Check2_Packaging","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Check3_Description","displayName":"Check3_Description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Audit_Date","displayName":"Audit_Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Audit_Timestamp","displayName":"Audit_Timestamp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Runtime_Seconds","displayName":"Runtime_Seconds","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"BL_Supplier","displayName":"BL_Supplier","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"PL_Supplier","displayName":"PL_Supplier","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"BL_Pallets","displayName":"BL_Pallets","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"PL_Pallets","displayName":"PL_Pallets","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"BL_Cartons","displayName":"BL_Cartons","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"PL_Cartons","displayName":"PL_Cartons","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"BL_Pieces","displayName":"BL_Pieces","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"PL_Pieces","displayName":"PL_Pieces","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"BL_Weight","displayName":"BL_Weight","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"PL_Weight","displayName":"PL_Weight","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"BL_Volume","displayName":"BL_Volume","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"PL_Volume","displayName":"PL_Volume","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"BL_Product","displayName":"BL_Product","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"PL_Product","displayName":"PL_Product","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Weight_Variance","displayName":"Weight_Variance","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Volume_Variance","displayName":"Volume_Variance","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"BL_Tokens_Used","displayName":"BL_Tokens_Used","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"PL_Tokens_Used","displayName":"PL_Tokens_Used","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[5440,-160],"id":"eeed8f0d-7dd5-4690-81ea-cc5b6c899d6c","name":"Append row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"5XoXCLERZTacRBfR","name":"Google Sheets account 100"}}},{"parameters":{"documentId":{"__rl":true,"value":"1hVd2XLIccS2vipgXaLUTPSf2xnIYLx1B6LiS7JgAaPw","mode":"list","cachedResultName":"N8N Document Auditor_Quality Control","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1hVd2XLIccS2vipgXaLUTPSf2xnIYLx1B6LiS7JgAaPw/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":460799031,"mode":"list","cachedResultName":"Test_booking_list","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1hVd2XLIccS2vipgXaLUTPSf2xnIYLx1B6LiS7JgAaPw/edit#gid=460799031"},"filtersUI":{"values":[{"lookupColumn":"FILTER FOR AUDIT","lookupValue":"1"}]},"options":{"dataLocationOnSheet":{"values":{"rangeDefinition":"specifyRangeA1","range":"A:I"}}}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-864,-96],"id":"c8a66806-d59a-4067-ac0c-5d83cfcc8555","name":"Get_shipment_data","credentials":{"googleSheetsOAuth2Api":{"id":"HXslJlPs8QFQ0B5P","name":"Google Sheets account 98"}}},{"parameters":{"assignments":{"assignments":[{"id":"bb3344c3-aa9f-44cc-b9ac-29902624fe27","name":"Parent_ID","value":"={{ $json['Folder ID'] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-608,-96],"id":"2975e588-f867-404c-920d-944a8a4ac00b","name":"Get_folder_IDs"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"5ad93d0e-10c4-442e-8cc6-c578394ad13f","leftValue":"={{ $json.Parent_ID }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.3,"position":[-320,-96],"id":"c097ac84-a14c-491c-9d0a-891dbe700eb6","name":"Remove_empties"},{"parameters":{"mode":"combine","fieldsToMatchString":"Parent_ID","joinMode":"keepEverything","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[544,-176],"id":"3ae10fe8-a2ff-410f-8c5a-e7cdaa3c8518","name":"Merge"},{"parameters":{"assignments":{"assignments":[{"id":"05a87c30-7673-4e82-b71a-1cd6faa3c17d","name":"Parent_ID","value":"={{ $('Create_Parent_ID').item.json.Parent_ID }}","type":"string"},{"id":"3dc3da1f-f5d3-4272-80e4-6490b2ba65df","name":"Child_ID","value":"={{ $json.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[288,208],"id":"227df261-2d3c-44ca-8707-812bb56cbcb5","name":"Edit Fields"},{"parameters":{"compare":"={{ $json.Parent_ID }}","options":{}},"type":"n8n-nodes-base.removeDuplicates","typeVersion":2,"position":[48,-96],"id":"747a80f8-a5ca-4c6a-9c88-ea3eb3accced","name":"Create_Parent_ID"},{"parameters":{"resource":"fileFolder","searchMethod":"query","queryString":"='{{ $json.Parent_ID }}' in parents and mimeType = 'application/vnd.google-apps.folder'","filter":{},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[32,208],"id":"1bcd7c05-d3c4-4e28-8308-3694e2cf585a","name":"Find_Child_ID","credentials":{"googleDriveOAuth2Api":{"id":"AfCulfBIMRSCGBMf","name":"Google Drive account 27"}}},{"parameters":{"assignments":{"assignments":[{"id":"ebfee4bc-48cd-4cf8-a3d6-31a01aa78c64","name":"Parent_ID","value":"={{ $json.Parent_ID }}","type":"string"},{"id":"51a215cf-8285-49f7-921a-361ce90f9370","name":"Child_ID","value":"={{ $json.Child_ID }}","type":"string"},{"id":"53894efc-e5ed-4c7a-a955-a7c7b5806308","name":"Match_ID","value":"={{ $json[\"Child_ID\"] || $json[\"Parent_ID\"] }}","type":"string"},{"id":"84bd4caa-10ca-411e-b5e8-ab20c55e562c","name":"Booking#","value":"={{ $('Get_shipment_data').item.json['Booking#'] }}","type":"string"},{"id":"5ec335cb-0ab0-4598-a9ad-cc3976a9c8af","name":"Booking type","value":"={{ $('Get_shipment_data').item.json['Booking type'] }}","type":"string"},{"id":"148f7b97-390c-4dfc-9d6c-4a2d31d4a8d8","name":"Folder name","value":"={{ $('Get_shipment_data').item.json['Folder name'] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[960,-176],"id":"955fcff0-b23b-432f-aefb-e4d39661b019","name":"Edit Fields1"},{"parameters":{"resource":"fileFolder","searchMethod":"query","queryString":"='{{ $json.Match_ID }}' in parents and trashed = false","returnAll":true,"filter":{},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1280,-80],"id":"51760d0d-97fc-4e71-8d6c-ba13789d214f","name":"Search files and folders","credentials":{"googleDriveOAuth2Api":{"id":"AfCulfBIMRSCGBMf","name":"Google Drive account 27"}}},{"parameters":{"assignments":{"assignments":[{"id":"904dabad-053d-458e-8a5d-ca4c9a6099aa","name":"Parent_ID","value":"={{ $('Edit Fields1').item.json.Parent_ID }}","type":"string"},{"id":"47d095b2-19da-4c6c-8666-ec3146f7ac4b","name":"Child_ID","value":"={{ $('Edit Fields1').item.json.Child_ID }}","type":"string"},{"id":"8842d5c1-824a-4d13-bc75-6d597b1638d5","name":"Match_ID","value":"={{ $('Edit Fields1').item.json.Match_ID }}","type":"string"},{"id":"f2228004-56fd-420c-be38-64108ab4bb80","name":"Document_ID","value":"={{ $json.id }}","type":"string"},{"id":"27eec28b-7839-4924-ab44-e29463664db9","name":"Document_name","value":"={{ $json.name }}","type":"string"},{"id":"95d664d8-a792-4e7e-9aff-afbb4105a68e","name":"Booking#","value":"={{ $('Edit Fields1').item.json['Booking#'] }}","type":"string"},{"id":"1c20856d-26c5-4063-be5d-c276e1cfefe7","name":"Booking type","value":"={{ $('Edit Fields1').item.json['Booking type'] }}","type":"string"},{"id":"029d767a-50aa-48f3-a1d7-5be1e404ddda","name":"Folder name","value":"={{ $('Edit Fields1').item.json['Folder name'] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1552,-80],"id":"18965cc8-717d-41f7-80f3-140c8d54d539","name":"Folder_and_Doc_List"},{"parameters":{"content":"# Get_Document_List\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/components/sticky-notes/)","height":848,"width":2864,"color":"#24601F"},"type":"n8n-nodes-base.stickyNote","position":[-960,-448],"typeVersion":1,"id":"1cb90cf8-ed51-46c1-8632-9cbed2f806c3","name":"Sticky Note2"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.Document_ID }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[2928,-352],"id":"86034c79-5f8b-4e60-86d3-7bbb8a40c33c","name":"Download file1","credentials":{"googleDriveOAuth2Api":{"id":"AfCulfBIMRSCGBMf","name":"Google Drive account 27"}}},{"parameters":{"resource":"document","modelId":{"__rl":true,"value":"models/gemini-flash-lite-latest","mode":"list","cachedResultName":"models/gemini-flash-lite-latest"},"text":"Role: Logistics Data Auditor\nTask: Extract data from the attached House Bill of Lading (HBL).\n\nCONTEXT & LOGIC:\n1. DEFINITIONS: \n   - 'pallet_count' = Total physical shipping units (PLT/Pallets/Packages).\n   - 'carton_count' = Look for the number of Cartons (CTN) usually mentioned in the cargo description or quantity column.\n   - 'piece_count' = If individual units are not mentioned, return 0.\n\nREQUIRED JSON OUTPUT:\n{\n  \"factory\": { \"name\": \"string\", \"address\": \"string\" },\n  \"consignee\": { \"name\": \"string\", \"address\": \"string\" },\n  \"logistics_metrics\": {\n    \"pallet_count\": 0,\n    \"carton_count\": 0,\n    \"piece_count\": 0,\n    \"gross_weight_kg\": 0.0,\n    \"volume_cbm\": 0.0\n  },\n  \"cargo_description\": \"string\",\n  \"document_type\": \"HBL\"\n}","inputType":"binary","options":{}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1,"position":[3456,-352],"id":"b867359c-842d-4a91-83bf-254641d9e5e6","name":"Analyze document1","retryOnFail":true,"maxTries":5,"waitBetweenTries":2000,"credentials":{"googlePalmApi":{"id":"9O6tXUecyrIrGB5w","name":"Google Gemini(PaLM) Api account 25"}}},{"parameters":{"assignments":{"assignments":[{"id":"cadcbbd3-6e16-4e02-978c-a20b793eeb9b","name":"Match_ID","value":"={{ $('Download file1').item.json.Match_ID }}","type":"string"},{"id":"013158d4-910e-467c-a512-174ef9ad0ade","name":"Document_ID","value":"={{ $('Download file1').item.json.Document_ID }}","type":"string"},{"id":"2b8da352-3586-4a6c-9668-0a5eaaf40569","name":"Document_name","value":"={{ $('Download file1').item.json.Document_name }}","type":"string"},{"id":"6985ee78-1d1e-4b09-9dcd-e8ce400ac289","name":"BL_content","value":"={{ $json.content.parts[0].text }}","type":"string"},{"id":"61305651-b09b-4ead-ba53-4221d34bbefd","name":"Booking#","value":"={{ $('Download file1').item.json['Booking#'] }}","type":"string"},{"id":"4c2d09f6-8569-4f9d-b858-cb19365b1a78","name":"Booking type","value":"={{ $('Download file1').item.json['Booking type'] }}","type":"string"},{"id":"e5d97f2b-5146-4378-9928-bf114bad6847","name":"Folder name","value":"={{ $('Download file1').item.json['Folder name'] }}","type":"string"},{"id":"2f9a1259-c447-4899-826a-0aa4270d2da2","name":"Parent_ID","value":"={{ $('Download file1').item.json.Parent_ID }}","type":"string"},{"id":"9e301fa5-1f65-4e6c-be11-ebbd69191e8a","name":"BL_tokens_used","value":"={{ $json.usageMetadata.totalTokenCount }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3744,-352],"id":"9f0277b5-d7c2-4332-9799-63f306a948df","name":"Edit Fields3"},{"parameters":{"jsCode":"for (const item of items) {\n  const rawContent = item.json.BL_content || \"\";\n  const cleanJsonString = rawContent.replace(/```json|```/g, \"\").trim();\n\n  if (cleanJsonString) {\n    try {\n      const parsedData = JSON.parse(cleanJsonString);\n\n      item.json = {\n        Match_ID:        item.json.Match_ID,\n        Parent_ID:       item.json.Parent_ID,\n        \"Booking#\":      item.json[\"Booking#\"],\n        \"Booking type\":  item.json[\"Booking type\"],\n        \"Folder name\":   item.json[\"Folder name\"],\n        Document_ID:     item.json.Document_ID,\n        Document_name:   item.json.Document_name,\n        BL_tokens_used:  item.json.BL_tokens_used || 0,\n        BL_factory:             parsedData.factory,\n        BL_consignee:           parsedData.consignee,\n        BL_logistics_metrics:   parsedData.logistics_metrics,\n        BL_cargo_description:   parsedData.cargo_description,\n        BL_document_type:       parsedData.document_type\n      };\n\n    } catch (error) {\n      item.json.error = \"Invalid JSON from Gemini\";\n      item.json.raw_content_debug = cleanJsonString;\n    }\n  }\n}\n\nreturn items;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4016,-352],"id":"d010bff3-12d4-47ac-96ae-a905b182c692","name":"Final_BL_Summary"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[3184,-352],"id":"efe63921-7d4d-4b62-89e4-f26ba038edbb","name":"Wait","webhookId":"a0b7e0d2-8e08-422b-8e7d-2e7f956d7fc5"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.Document_ID }}","mode":"id"},"options":{"fileName":""}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[2944,0],"id":"44b4c5d6-6325-43cc-8fb0-05188e2aa14f","name":"Download file","credentials":{"googleDriveOAuth2Api":{"id":"AfCulfBIMRSCGBMf","name":"Google Drive account 27"}}},{"parameters":{"method":"POST","url":"https://www.googleapis.com/upload/drive/v3/files?uploadType=multipart","authentication":"predefinedCredentialType","nodeCredentialType":"googleDriveOAuth2Api","sendQuery":true,"queryParameters":{"parameters":[{"name":"uploadType","value":"multipart"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"multipart/related; boundary=n8n_boundary"}]},"sendBody":true,"contentType":"binaryData","inputDataFieldName":"data","options":{"response":{"response":{"responseFormat":"json"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[2816,240],"id":"d7d30c84-3599-42f3-9f35-8f36bee77ab4","name":"HTTP Request","credentials":{"googleDriveOAuth2Api":{"id":"AfCulfBIMRSCGBMf","name":"Google Drive account 27"}}},{"parameters":{"jsCode":"const boundary = 'n8n_boundary';\n// Use the helper to get the binary data correctly\nconst binaryData = await this.helpers.getBinaryDataBuffer(0, 'data');\n\nconst header = Buffer.from(\n  `--${boundary}\\r\\n` +\n  `Content-Type: application/json; charset=UTF-8\\r\\n\\r\\n` +\n  `{\"mimeType\": \"application/vnd.google-apps.spreadsheet\"}\\r\\n\\r\\n` +\n  `--${boundary}\\r\\n` +\n  `Content-Type: application/vnd.openxmlformats-officedocument.spreadsheetml.sheet\\r\\n\\r\\n`, \n  'utf-8'\n);\n\nconst footer = Buffer.from(`\\r\\n--${boundary}--`, 'utf-8');\nconst combinedBuffer = Buffer.concat([header, binaryData, footer]);\n\n// This clean return prevents the circular structure error\nreturn [\n  {\n    json: $input.item.json,\n    binary: {\n      data: {\n        data: combinedBuffer.toString('base64'),\n        mimeType: `multipart/related; boundary=${boundary}`,\n        fileName: 'upload.bin'\n      }\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3232,0],"id":"f06e2e08-e553-48a7-9662-23f894240a80","name":"Code in JavaScript"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{"googleFileConversion":{"conversion":{"sheetsToFormat":"application/pdf"}}}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[3216,240],"id":"8a802c81-2d82-4c2e-8d0b-95c9dd7c6352","name":"Download file4","credentials":{"googleDriveOAuth2Api":{"id":"AfCulfBIMRSCGBMf","name":"Google Drive account 27"}}},{"parameters":{"content":"## Sub-workflow- Convert XLS to PDF\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/components/sticky-notes/)","height":480,"width":838,"color":6},"type":"n8n-nodes-base.stickyNote","position":[2560,-80],"typeVersion":1,"id":"5f71b4c7-4413-40c7-a894-d375f1908a3c","name":"Sticky Note3"},{"parameters":{"resource":"document","modelId":{"__rl":true,"value":"models/gemini-flash-lite-latest","mode":"list","cachedResultName":"models/gemini-flash-lite-latest"},"text":"Role: Logistics Data Auditor\nTask: Extract data from the attached Packing List (PL).\n\nCONTEXT & LOGIC:\n1. DATA SCOURING: This document is often a wide spreadsheet split across multiple pages. You must cross-reference all pages to find matching rows. Combine data from split pages to reach the final totals.\n2. DEFINITIONS: \n   - 'pallet_count' = Total physical shipping units (PLT/Pallets).\n   - 'carton_count' = Total number of boxes/cartons (CTN/Cartons).\n   - 'piece_count' = Total individual units/items (PCS/Pieces).\n\nREQUIRED JSON OUTPUT:\n{\n  \"factory\": { \"name\": \"string\", \"address\": \"string\" },\n  \"consignee\": { \"name\": \"string\", \"address\": \"string\" },\n  \"logistics_metrics\": {\n    \"pallet_count\": 0,\n    \"carton_count\": 0,\n    \"piece_count\": 0,\n    \"gross_weight_kg\": 0.0,\n    \"volume_cbm\": 0.0\n  },\n  \"cargo_description\": \"string\",\n  \"document_type\": \"Packing List\"\n}","inputType":"binary","options":{}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1.1,"position":[3536,256],"id":"69e1235e-eb3f-44a5-805d-37b0c057b81b","name":"Analyze document","retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"credentials":{"googlePalmApi":{"id":"9O6tXUecyrIrGB5w","name":"Google Gemini(PaLM) Api account 25"}}},{"parameters":{"jsCode":"const sourceItems = $(\"Edit Fields4\").all();\n\nfor (let i = 0; i < $input.all().length; i++) {\n  const item = $input.all()[i];\n  const source = sourceItems[i]?.json || {};\n\n  try {\n    const rawContent = item.json.content?.parts?.[0]?.text || \"\";\n    const cleanJsonString = rawContent.replace(/```json|```/g, \"\").trim();\n\n    if (cleanJsonString) {\n      const parsedData = JSON.parse(cleanJsonString);\n\n      item.json = {\n        Match_ID:        source.Match_ID,\n        Parent_ID:       source.Parent_ID,\n        \"Booking#\":      source[\"Booking#\"],\n        \"Booking type\":  source[\"Booking type\"],\n        \"Folder name\":   source[\"Folder name\"],\n        Document_ID:     source.Document_ID,\n        Document_name:   source.Document_name,\n        PL_tokens_used:  item.json.usageMetadata?.totalTokenCount || \n                         item.json.usageMetadata?.promptTokenCount || 0,\n        PL_factory:           parsedData.factory,\n        PL_consignee:         parsedData.consignee,\n        PL_logistics_metrics: parsedData.logistics_metrics,\n        PL_cargo_description: parsedData.cargo_description,\n        PL_document_type:     parsedData.document_type\n      };\n    }\n  } catch (error) {\n    item.json.error = \"Failed to parse Gemini output\";\n    item.json.error_details = error.message;\n  }\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3968,256],"id":"18da81d9-c617-4c2a-bed6-80f1aad37feb","name":"Final_PL_Summary"},{"parameters":{"assignments":{"assignments":[{"id":"8db77b2b-2c2d-48f9-9def-b920e43cda3d","name":"Match_ID","value":"={{ $('Code in JavaScript').item.json.Match_ID }}","type":"string"},{"id":"9eb75907-b8e6-4c12-b7a7-fc180cb38674","name":"Document_ID","value":"={{ $('Code in JavaScript').item.json.Document_ID }}","type":"string"},{"id":"268c56b5-5fc6-451d-87a9-46d7be1c33b9","name":"Parent_ID","value":"={{ $('Code in JavaScript').item.json.Parent_ID }}","type":"string"},{"id":"61a7cbf0-cfbe-4c6e-962d-fa8d71377712","name":"Folder name","value":"={{ $('Code in JavaScript').item.json['Folder name'] }}","type":"string"},{"id":"4d0c6d18-c677-46f9-8a40-49ecdf609b8b","name":"Document_name","value":"={{ $('Code in JavaScript').item.json.Document_name }}","type":"string"},{"id":"741c5096-4d7c-41d4-80ab-51b2414ed4a4","name":"Booking#","value":"={{ $('Code in JavaScript').item.json['Booking#'] }}","type":"string"},{"id":"a9b668e3-8746-4ba3-a9b4-632178d9db06","name":"Booking type","value":"={{ $('Code in JavaScript').item.json['Booking type'] }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3536,48],"id":"42268a78-bd4e-4728-b973-c23533ccf990","name":"Edit Fields4"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[3968,48],"id":"2c49f0c3-e612-48da-9f56-be707a7a706f","name":"Wait1","webhookId":"23f55fda-1335-47e8-82d3-47bc4c8e7855"},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"dcushing-ctrl","mode":"list","cachedResultName":"dcushing-ctrl","cachedResultUrl":"https://github.com/dcushing-ctrl"},"repository":{"__rl":true,"value":"IBT_Document_Auditor","mode":"list","cachedResultName":"IBT_Document_Auditor","cachedResultUrl":"https://github.com/dcushing-ctrl/IBT_Document_Auditor"},"filePath":"Document_auditor_MASTER_WIP_V2.json","fileContent":"={{ $json.toJsonString() }}","commitMessage":"Pushing latest workflow update"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[-1312,448],"id":"b2bc887b-d2e8-4b7e-8605-c752f32422d6","name":"Edit a file","webhookId":"ddb409ce-b458-4fbb-8c44-0b5f2ab4361b","credentials":{"githubApi":{"id":"30EQecW4GBDdoqPJ","name":"GitHub account"}}},{"parameters":{"operation":"get","workflowId":{"__rl":true,"value":"XBkjGlpuakj2hdf6","mode":"id"},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-1552,448],"id":"403321b4-58bb-4010-83c0-590a0420d5f5","name":"Get a workflow","credentials":{"n8nApi":{"id":"oGvm1AgUoHUPYL8f","name":"n8n account 2"}}}],"connections":{"TRIGGER_Manual":{"main":[[{"node":"Start_Time","type":"main","index":0},{"node":"Get a workflow","type":"main","index":0}]]},"FILTER_Select_Best_BL":{"main":[[{"node":"Download file1","type":"main","index":0}]]},"FILTER_Select_Best_PL":{"main":[[{"node":"Download file","type":"main","index":0}]]},"MERGE_BL_and_PL":{"main":[[{"node":"AUDIT_Compare_BL_vs_PL","type":"main","index":0}]]},"Start_Time":{"main":[[{"node":"Get_shipment_data","type":"main","index":0}]]},"AUDIT_Compare_BL_vs_PL":{"main":[[{"node":"Append row in sheet","type":"main","index":0}]]},"Get_shipment_data":{"main":[[{"node":"Get_folder_IDs","type":"main","index":0}]]},"Get_folder_IDs":{"main":[[{"node":"Remove_empties","type":"main","index":0}]]},"Remove_empties":{"main":[[{"node":"Create_Parent_ID","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Create_Parent_ID":{"main":[[{"node":"Find_Child_ID","type":"main","index":0},{"node":"Merge","type":"main","index":0}]]},"Find_Child_ID":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Search files and folders","type":"main","index":0}]]},"Search files and folders":{"main":[[{"node":"Folder_and_Doc_List","type":"main","index":0}]]},"Download file1":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Analyze document1":{"main":[[{"node":"Edit Fields3","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"Final_BL_Summary","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Analyze document1","type":"main","index":0}]]},"Folder_and_Doc_List":{"main":[[{"node":"FILTER_Select_Best_PL","type":"main","index":0},{"node":"FILTER_Select_Best_BL","type":"main","index":0}]]},"Download file":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Download file4","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Download file4":{"main":[[{"node":"Edit Fields4","type":"main","index":0}]]},"Analyze document":{"main":[[{"node":"Final_PL_Summary","type":"main","index":0}]]},"Edit Fields4":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Analyze document","type":"main","index":0}]]},"Final_BL_Summary":{"main":[[{"node":"MERGE_BL_and_PL","type":"main","index":0}]]},"Final_PL_Summary":{"main":[[{"node":"MERGE_BL_and_PL","type":"main","index":1}]]},"Get a workflow":{"main":[[{"node":"Edit a file","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Edit Fields1":[{"json":{"Parent_ID":"1ITZcy2DS26NrCjQAKo-2cDEJE37j_Wt7","Child_ID":"1adyxi_BedK3mcpBycC3UM1Fv4-oAEZyH","Match_ID":"1adyxi_BedK3mcpBycC3UM1Fv4-oAEZyH","Booking#":"ZXQ2512688","Booking type":"BCN_Ridex","Folder name":"#57/1*40 QEEP+JXA"}},{"json":{"Parent_ID":"1ITZcy2DS26NrCjQAKo-2cDEJE37j_Wt7","Child_ID":"1_gC3YZbLEo6rp_9KCbYijTv6ixXBdQMN","Match_ID":"1_gC3YZbLEo6rp_9KCbYijTv6ixXBdQMN","Booking#":"ZXQ2512688","Booking type":"BCN_Ridex","Folder name":"#57/1*40 QEEP+JXA"}},{"json":{"Parent_ID":"1e871phKnmx09sgnM9B839115IhLKMopg","Child_ID":null,"Match_ID":"1e871phKnmx09sgnM9B839115IhLKMopg","Booking#":"5064389","Booking type":">1 x FCL_Ridex","Folder name":"#1-3/3*40 QAP"}}]},"versionId":"97ddbdcb-ea81-427d-8137-5c057f280c4a","activeVersionId":null,"versionCounter":155,"triggerCount":0,"shared":[{"updatedAt":"2026-05-29T15:08:18.058Z","createdAt":"2026-05-29T15:08:18.058Z","role":"workflow:owner","workflowId":"XBkjGlpuakj2hdf6","projectId":"pbZttULHZ2Xe9aX4","project":{"updatedAt":"2026-01-09T13:09:10.709Z","createdAt":"2026-01-07T11:22:18.339Z","id":"pbZttULHZ2Xe9aX4","name":"David Cushing <d.cushing@autodoc.eu>","type":"personal","icon":null,"description":null,"creatorId":"8d395bda-024f-4527-8b9d-7ad5329752b6"}}],"tags":[],"activeVersion":null}